doctype html
html(lang="en")
  head
    title Auth Success
  body
    h1 Success Auth!
    script.
      setTimeout(() => {
        window.opener.successAuthCallback({ refreshToken:'!{refreshToken}', accessToken:'!{accessToken}'})
      }, 0)
      window.close();
