doctype html
html(lang="en")
  head
    title Auth Success
  body
    h1 Success Auth!
    script.
      window.opener.successAuthCallback({ refreshToken:'!{refreshToken}', accessToken:'!{accessToken}'})
      window.close();
